 # Guided project Hacker News

In [1]:
import csv

In [2]:
 hn = list(csv.reader(open("hacker_news.csv")))

In [3]:
hn[0:5]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01']]

In [4]:
headers = hn[0]

In [5]:
headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [6]:
hn.remove(headers)

In [7]:
hn[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

Now that we've removed the headers from hn, we're ready to filter our data. Since we're only concerned with post titles beginning with Ask HN or Show HN, we'll create new lists of lists containing just the data for those titles.

In [8]:
headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [9]:
title_index = headers.index('title')

In [10]:
title_index

1

In [11]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title=row[title_index]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row) 
    else:
        other_posts.append(row)

In [12]:
ask_posts[:5]

[['12296411',
  'Ask HN: How to improve my personal website?',
  '',
  '2',
  '6',
  'ahmedbaracat',
  '8/16/2016 9:55'],
 ['10610020',
  'Ask HN: Am I the only one outraged by Twitter shutting down share counts?',
  '',
  '28',
  '29',
  'tkfx',
  '11/22/2015 13:43'],
 ['11610310',
  'Ask HN: Aby recent changes to CSS that broke mobile?',
  '',
  '1',
  '1',
  'polskibus',
  '5/2/2016 10:14'],
 ['12210105',
  'Ask HN: Looking for Employee #3 How do I do it?',
  '',
  '1',
  '3',
  'sph130',
  '8/2/2016 14:20'],
 ['10394168',
  'Ask HN: Someone offered to buy my browser extension from me. What now?',
  '',
  '28',
  '17',
  'roykolak',
  '10/15/2015 16:38']]

In [13]:
show_posts[:5]

[['10627194',
  'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform',
  'https://iot.seeed.cc',
  '26',
  '22',
  'kfihihc',
  '11/25/2015 14:03'],
 ['10646440',
  'Show HN: Something pointless I made',
  'http://dn.ht/picklecat/',
  '747',
  '102',
  'dhotson',
  '11/29/2015 22:46'],
 ['11590768',
  'Show HN: Shanhu.io, a programming playground powered by e8vm',
  'https://shanhu.io',
  '1',
  '1',
  'h8liu',
  '4/28/2016 18:05'],
 ['12178806',
  'Show HN: Webscope  Easy way for web developers to communicate with Clients',
  'http://webscopeapp.com',
  '3',
  '3',
  'fastbrick',
  '7/28/2016 7:11'],
 ['10872799',
  'Show HN: GeoScreenshot  Easily test Geo-IP based web pages',
  'https://www.geoscreenshot.com/',
  '1',
  '9',
  'kpsychwave',
  '1/9/2016 20:45']]

In [14]:
other_posts[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

## Number of comments

### Number of posts

In [15]:
len(ask_posts)

1744

In [16]:
len(show_posts)

1162

In [17]:
len(other_posts)

17194

### Determine if ask posts or show posts receive more comments on average.

In [18]:
headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [19]:
num_comments_index = headers.index('num_comments')
num_comments_index

4

In [20]:
int(ask_posts[0][4])

6

In [21]:
def avg_post_comment(posts):
    total_comments = 0
    for post in posts:
        num_comments = int(post[num_comments_index])
        total_comments += num_comments
        
    avg_comments = total_comments/len(posts)  
    return avg_comments

In [22]:
avg_ask_comments = avg_post_comment(ask_posts)
avg_ask_comments

14.038417431192661

In [23]:
avg_show_comments = avg_post_comment(show_posts)
avg_show_comments

10.31669535283993

People comments in average more ask posts thant show posts.

### Next, we'll determine if ask posts created at a certain time are more likely to attract comments.

We'll use the following steps to perform this analysis:

- Calculate the number of ask posts created in each hour of the day, along with the number of comments received.
- Calculate the average number of comments ask posts receive by hour created.

In [24]:
import datetime as dt

In [29]:
created_at_index = headers.index('created_at')
created_at_index

6

In [32]:
result_list = []
for post in ask_posts:
    result_list.append([post[created_at_index], post[num_comments_index]])

In [58]:
import datetime as dt
dt_string = "12/11/2018 09:15"
dt_object1 = dt.datetime.strptime('08/16/2016 09:55', "%m/%d/%Y %H:%M")
print("dt_object1 =", dt_object1.hour)
#12/11/2018 09:15
#08/16/2016 09:55

dt_object1 = 9

In [40]:
dt.datetime.strptime('08/16/2016 9:55', "%d/%m/%Y %H:%M")

ValueError: time data '08/16/2016 9:55' does not match format '%d/%m/%Y %H:%M'

In [64]:
counts_by_hour = {}
comments_by_hour = {}
for cn in result_list:
    created_at = dt.datetime.strptime(cn[0], "%m/%d/%Y %H:%M")
    
    if created_at.hour in counts_by_hour:
        counts_by_hour[created_at.hour] +=1
        comments_by_hour[created_at.hour] += int(cn[1])
    else:
        counts_by_hour[created_at.hour] =1
        comments_by_hour[created_at.hour] = int(cn[1])

In [66]:
avg_by_hour = {}
for hour in comments_by_hour:
    avg_by_hour[hour] = comments_by_hour[hour]/counts_by_hour[hour]

In [67]:
avg_by_hour

{9: 5.5777777777777775,
 13: 14.741176470588234,
 10: 13.440677966101696,
 14: 13.233644859813085,
 16: 16.796296296296298,
 23: 7.985294117647059,
 12: 9.41095890410959,
 17: 11.46,
 15: 38.5948275862069,
 21: 16.009174311926607,
 20: 21.525,
 2: 23.810344827586206,
 18: 13.20183486238532,
 3: 7.796296296296297,
 5: 10.08695652173913,
 19: 10.8,
 1: 11.383333333333333,
 22: 6.746478873239437,
 8: 10.25,
 4: 7.170212765957447,
 0: 8.127272727272727,
 6: 9.022727272727273,
 7: 7.852941176470588,
 11: 11.051724137931034}

In [69]:
swap_avg_by_hour = []
for hour, average in avg_by_hour.items():
    swap_avg_by_hour.append([average, hour])

In [70]:
swap_avg_by_hour

[[5.5777777777777775, 9],
 [14.741176470588234, 13],
 [13.440677966101696, 10],
 [13.233644859813085, 14],
 [16.796296296296298, 16],
 [7.985294117647059, 23],
 [9.41095890410959, 12],
 [11.46, 17],
 [38.5948275862069, 15],
 [16.009174311926607, 21],
 [21.525, 20],
 [23.810344827586206, 2],
 [13.20183486238532, 18],
 [7.796296296296297, 3],
 [10.08695652173913, 5],
 [10.8, 19],
 [11.383333333333333, 1],
 [6.746478873239437, 22],
 [10.25, 8],
 [7.170212765957447, 4],
 [8.127272727272727, 0],
 [9.022727272727273, 6],
 [7.852941176470588, 7],
 [11.051724137931034, 11]]

In [73]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)

In [75]:
#Top 5 Hours for Ask Posts Comments
sorted_swap[:5]

[[38.5948275862069, 15],
 [23.810344827586206, 2],
 [21.525, 20],
 [16.796296296296298, 16],
 [16.009174311926607, 21]]

In [87]:
for avg, hr in sorted_swap[:5]:
    print(
        "{}: {:.2f} average comments per post".format(
            dt.datetime.strptime(str(hr), "%H").strftime("%H:%M"),avg
        )
    )

15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post

The hour that receives the most comments per post on average is 15:00